
/*--------------- basic styling --------------- */
html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      font-family: "Sriracha", sans-serif !important;
      background: #000000 !important;
      color: #fff !important;
}

.bgimg {
      background-image: url("Head.jpg");
      background-position: center;
      background-size: cover;
      min-height: 100%;
  }

.bgimg404 {
      background-image: url("404.jpg");
      background-position: center;
      background-size: cover;
      min-height: 100%;
  }
  

.whitespace {
      width: 100%;
      height: 100px;
}

@media(max-width: 768px) {
      .whitespace {
            display: none;
      }
}

.centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
/*--------------- typewriter effect --------------- */
.line {
      width: 24em;
      top: 50%;
      margin: auto;
      border-right: 0px solid rgba(255, 255, 255, 0.75);
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

/*.anim-typewriter {
      animation: typewriter 4s steps(40) 1s 1 normal both,
      blinkTextCussor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 0em;
      }
}
*/

@media(max-width: 768px) {
      @keyframes typewriter {
            from {
                  width: 0;
            }
            to {
                  width: 17em;
            }
      }
}

@keyframes blinkTextCussor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}

/*--------------- navigation --------------- */
nav {
      width: 100%;
      background: #00000000;
      height: 80px;
      position: fixed;
      z-index: 1;
}

nav #brand {
      float: left;
      display: block;
      margin-left: 82px;
      line-height: 80px;
      font-weight: bold;
      
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      font-size: 30px;
}

nav #brand a:hover {
      text-decoration: none;
}

nav #menu {
      float: left;
      right: 80px;
      position: fixed;
}

nav #menu li {
      padding-left: 40px;
      font-size: 20px;
      display: inline-block;
      cursor: pointer;
      font-weight: 300;
      line-height: 80px;
      position: relative;
      transition: all 0.3s ease-out;
}

nav #menu li span {
      font-weight: 700;
}

nav #menu li a {
      color: #fff;
}

nav #menu li a:hover {
      text-decoration: none;
}

#toggle {
      position: absolute;
      right: 30px;
      top: 20px;
      font-weight: 300;
      z-index: 2;
      width: 30px;
      height: 30px;
      cursor: pointer;
      float: right;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
}

.close-btn {
      position: absolute;
      right: 16px;
      font-weight: 300;
      z-index: 2;
      cursor: pointer;
      top: -2px;
      line-height: 80px;
}

#resize {
      z-index: 1;
      top: 0px;
      position: fixed;
      background: #0f0f0fe5;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.25s ease-in;
}

#resize #menu {
      height: 90px;
      position: absolute;
      left: 45%;
      transform: translateX(-40%);
      text-align: center;
      display: table-cell;
      vertical-align: center;
}

#resize #menu li {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 50px;
      min-height: 50px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.25s ease-in;
}

#resize li:nth-child(1) {
      margin-top: 140px;
}

#resize #menu li a {
      color: #fff;
}

#resize #menu li a:hover {
      text-decoration: none;
}

#resize.active {
      visibility: visible;
      opacity: 1;
}

@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
            margin-top: 6px;
            margin-right: 4px;
      }

      nav #brand {
            margin-left: 24px;
      }

      #menu a {
            font-size: 20px;
            font-weight: 300;
      }

      #resize li span {
            font-weight: bolder;
      }

      nav #menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}

/*--------------- hero section --------------- */
.hero {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

.hero h1 {
    
      text-align: center;
      letter-spacing: 0px;
      line-height: 50px;
}
.hero h5 {
 
      text-align: center;
      letter-spacing: 0px;
      line-height: 25px;
}

@media(max-width: 250px) {
      
      .header h1 {
            font-size: 35px;
      }
      
         .header h5 {
            font-size: 35px;
      }
      
      
}


/*--------------- scroll down icon animation --------------- */
.scroll-down {
      position: absolute;
      left: 50%;
      bottom: 100px;
      display: block;
      text-align: center;
      font-size: 20px;
      z-index: 0;
      text-decoration: none;
      text-shadow: 0;
      width: 13px;
      height: 13px;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: translate(-50%, 0) rotate(45deg);
      animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
      0% {
            transform: translate(0, -20px) rotate(45deg);
            opacity: 0;
      }
      50% {
            opacity: 1;
      }
      100% {
            transform: translate(0, 20px) rotate(45deg);
            opacity: 0;
      }
}

/*--------------- type section --------------- */
h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.type {
      height: 500px;
}

.type {
      background: url(Safety.jpg) no-repeat 50% 50%;
      background-size: cover;
}



.type2 {
      background: url(Freedom.jpg) no-repeat 50% 50%;
      background-size: cover;
}



.type3 {
      background: url(p.jpg) no-repeat 50% 50% ;
      background-size: cover;
}



.type4 {
      background: url(Advance.jpg) no-repeat 50% 50% ;
      background-size: cover;
}

.type5 {
      background: url(23.jpg) no-repeat 20% 50% ;
      background-size: cover;
}

.type6 {
      background: url(sushi-2.jpg) no-repeat 40% 30% ;
      background-size: cover;
}
.type7 {
      background: url(0006BI09CEED7542331BC6j.jpg) no-repeat 40% 30% ;
      background-size: cover;
}

.type8 {
      background: url(090871_block02_02.jpg) no-repeat 40% 40% ;
      background-size: cover;
}
@media(max-width: 768px) {
      .type {
            width: 90% !important;
            margin: 10px auto;
      }

      .vertical {
            display: none;
      }

      .type1::after, .type2::after, .type3::after, .type4::after {
            display: none;
      }
}

h6 {
      text-align: center;
}

.vertical {
      margin-top: 40px;
      border-left: 1px solid #fff;
      height: 80px;
      position: absolute;
      left: 50%;
}

.project {
      height: 500px;
}



/*--------------- footer section --------------- */
.collab {
      text-align: left;
}

.collab p {
      font-weight: lighter !important;
      margin-bottom: 20px;
}

.hr {
      background: rgba(255, 255, 255, 0.2);
      height: 2px;
}

.info h4 {
      font-size: 18px;
      font-weight: lighter;
}

.info p {
      color: grey;
      font-weight: lighter;
}

.info li {
      font-weight: lighter;
      color: #fff;
      font-size: 20px;
      padding-left: 25px;
}

#mem1::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 10px;
      width: 10px;
      margin-right: 2px;
      background: #ffffff;
}


#mem2::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 10px;
      width: 10px;
      margin-right: 2px;
      background: #ffffff;
}


#mem3::before {
      display: inline-block;
      content: '';
      border-radius: 100%;
      height: 10px;
      width: 10px;
      margin-right: 2px;
      background: #ffffff;
}


#media, #address {
      text-align: right;
}

#media ul {
      list-style: none;
}

#media ul li {
      display: inline-block;
}

@media(max-width: 768px) {
      .collab, #personal, #media, #address {
            text-align: center;
      }

      .info ul {
            margin: 0 0 0 -22px;
            padding: 0;
      }
}

/*--------------- work page --------------- */

.hero-content {
      margin-left: 0%;
}

.hero-content p {
      font-weight: 300;
      font-size: 18px;
      line-height: 30px;
      color: rgb(175, 175, 175);
}

.hero-content h6 {
      text-align: left;
}

@media(max-width: 768px) {
      .hero-content {
            padding-top: 50px;
            width: 96%;
            margin: 0 auto;
      }
}

/*---------------about page --------------- */

.about {
      height: 500px;
      margin-top: 120px;
}

.image {
      background: url(Sushi-Header.jpg) no-repeat 50% 70%;
      background-size: cover
}

/*--------------- contact form --------------- */

#contact-form {
      margin: 5% 1.4%;
}

#contact-form ul {
      list-style: none;
      border-radius: 5px;
      margin-bottom: 40px;
}

#contact-form li {
      padding: 10px;
}

#contact-form li:last-of-type {
      border-bottom: none;
}

#contact-form label {
      display: block;
      font-size: .8em;
      color: #999;
      padding-left: 5px;
}

#contact-form input, #contact-form textarea {
      width: 100%;
      padding: 5px;
      border: none;
      resize: vertical;
      background: transparent;
      color: #fff;
      font-weight: bolder;
}

input:focus {
      outline: none;
      border: none;
}

textarea:focus {
      outline: none;
      border: none;
}

.textarea {
      border-bottom: 1px solid #dfdfdf;
}

.send {
      margin-left: 50px;
      text-transform: uppercase;
      padding: 20px 30px;
      background: transparent;
      color: #dfdfdf;
      font-size: 14px;
      letter-spacing: 2px;
}

.send:hover {
      background: #dfdfdf;
      color: #101010;
}

@media(max-width: 768px) {
      #contact-form {
            margin: 5% -8%;
            width: 98%;
      }
}

/*--------------- project page --------------- */

.prev, .next p {
      color: grey;
}

.prev p {
      text-align: left;
}

.next p {
      text-align: right;
}
